body {
    margin: auto;
    padding: 0;
    line-height: 1.5;
    font-size: 1.25em;
    font-family: sans-serif;
}

header {
    height: 100%;
    font-size: large;
}

section {
    max-width: 70ch;
    padding: 4em 1em;
    margin: auto;
}

section:last-child {
    padding-bottom: 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 300px;
    margin-top: auto;
    margin-bottom: auto;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-left: 32px;
    padding-right: 32px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

p {
    text-align: justify;
}

.cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tinted {
    color: #FAFAFA;
    background-color: rgba(0, 0, 0, .75);
    background-blend-mode: multiply;
}