body {
    margin: auto;
    padding: 0;
    line-height: 1.5;
    font-size: 1em;
    font-family: sans-serif;
}

header,
footer {
    height: 100%;
    font-size: large;
}

section {
    padding: 4em 1em;
}

header section {
    overflow-y: auto;
    max-height: 100%;
}

section:last-child {
    padding-bottom: 0;
}

.col {
    padding-left: 32px;
    padding-right: 32px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

p {
    text-align: justify;
}

.cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tinted {
    color: #FAFAFA;
    background-color: rgba(0, 0, 0, .75);
    background-blend-mode: multiply;
}